<ion-content class="has-header-no game-search-content">
  <div class="list">
    <div class="item">
      <div class="list list-inset search-bar">
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Summoner Name" ng-model="criteria.summoner_name">
        </label>
        <button class="button button-block button-search" ng-click="searchGame()">Search</button>
        <div class="error-message blink">
          {{error}}
        </div>
      </div>
    </div>
    <div class="item">
      <div class="row region-bar">
        <div class="col">
          <div ng-repeat="r in regions" ng-if="$index < 5" ng-class="{'region-item':true, 'active':(criteria.region==r.key)}" ng-click="criteria.region=r.key">{{r.key}}</div>
        </div>
        <div class="col">
          <div ng-repeat="r in regions" ng-if="$index >= 5" ng-class="{'region-item':true, 'active':(criteria.region==r.key)}" ng-click="criteria.region=r.key">{{r.key}}</div>
        </div>
      </div>
    </div>
  </div>
</ion-content>