// vars
$dark-red: #F34747;
$light-red: #FC6060;
$trans-red: rgba(143, 45, 55, 0.8);
$dark-blue: #3498C3;
$light-blue: #6CCDF6;
$trans-blue: rgba(76, 101, 117, 0.8);
$trans-dark-blue: rgba(23, 27, 29, 0.51);
$dark-orange: #E38034;
$light-orange: #F79D59;
$offense: #1DB2C7;
$defense: #2BC4E3;
$cs: #91A529;
$win: #0E8013;
$kill: rgb(41, 216, 41);
$death: rgb(246, 138, 138);
$assist: rgb(243, 243, 45);
$inc-green: rgb(47, 214, 47);
$dec-red: #C96831;

@import "core";
@import "blink";
@import "game.search";
@import "game.show";
@import "game.player";
